@charset "utf-8";

body {
    margin: 0;
}
$header-size: 100px;
$footer-size: 31px;

header {
    text-align: center;
    h1 {
        // font: 6px/1.5 sans-serif;
        // font-weight: normal;
        font-size: 70px;
        font-weight: 100;
        color: #666;
        font-family: "Josefin Sans", sans-serif;
    }
}

section {
    p {
        width: 600px;
        margin: auto;
        margin-bottom: 10px;
    }
    .scene {
        position: absolute;
        bottom: 31px;
        top: 140px;
        width: 100%;

        > canvas {
            width: 100%;
        }
        // width: 1200px;
        // height: 600px;
    }
}

.todomvc-wrapper {
    // background-color: #f33;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #f2f2f2;
    border-top: solid 1px #e4e4e4;
    font-family: arial, sans-serif;
    color: #444;
    font-size: 13px;
    p {
        margin: 8px 0px;
    }
}
